


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.contenedor-general{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 80px;
    
}

.contenedor{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
.contenedor-iten{
    background-color: rgb(238, 238, 238);
    height: 80px;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.contenedor-iten-link{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.enlace{
    margin: 8px;
    font-size: 18px;
   
    font-weight: 900px;
    font-family: sans-serif;
    color:black;
    transition: 3s;
    cursor: pointer;
    border-bottom: chocolate solid 2px;
}
.enlace:hover{
    color: rgba(252, 165, 5, 0.904);
}
.contenedor-logo{
    background-color: rgb(238, 238, 238);
    height: 80px;
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo{
    
 font-size: 30px;
 font-weight: 900;
 
}
.color-logo{
    color: rgb(255, 166, 0)
}

.contenedor-btn-registro{
    background-color: rgb(238, 238, 238);
    height: 80px;
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registro{
    font-size: 16px;
    font-weight: 900;
    font-family: sans-serif;
    margin: 10px;
    color: rgb(125, 125, 126);
    padding: 10px;
    border-radius: 30px;
    border: solid 1px rgb(22, 22, 22);
    transition: 1s;
}
.registro1:hover{
    background-color: aqua;
    color: #000;

}
.registro2{
    background-color: aqua;
  
}
.registro2:hover{
    color: rgb(7, 7, 7);
     ;
}
.registro2:hover{
    background-color: white;
}
.inpu-error{
    border: 2px solid red;
}
.lema{
    margin-top: 70px;
    font-size: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: sans-serif;

}